html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --maxwide: 500px;
  --radius: 0.5rem;
  --ccolor: hsl(160, 90%, 32%);
  --icolor: hsl(43, 50%, 53%);
  --xcolor: hsl(240, 1%, 30%);
  
  /* --ccolor: hsl(165, 50%, 52%);
  --icolor: hsl(35, 30%, 45%);
  --xcolor: hsl(240, 1%, 18%); */

  /* --xcolor: hsl(200, 4%, 20%); */
  /* --bg: light-dark(#161620, #efedea); */
  --bg: light-dark(#161620, #ccc);
  /* --fg: light-dark(#efedea, #161620); */
  --fg: light-dark(#ccc, #161620);
  --wavecolor1: hsl(157, 90%, 32%);
  --wavecolor2: hsl(313, 60%, 50%);
  --wavecolor3: hsl(43, 50%, 53%);

  --tileFG: #fff;
  --tileBG: #000;
}

main {
  margin: 0 auto;
  max-width: min(55vh, 100vw);
  /* border: 1px dashed dodgerblue; */
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
}

.againbutton {
  min-width: 300px;
  border-radius: var(--radius);
  color: var(--ccolor);
  background-color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: inherit;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.againbutton:hover {
  color: #fff;
  background-color: var(--ccolor);
}



.solved .tile, .failed .tile {
  cursor: initial;
}

.solved .tile[data-swapStatus='woo'] {
  animation: unset;
}
.solved .bounce {
  animation: wave 0.4s ease-in-out 2s 4 reverse both running;
}

.tile.blank {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: initial;
}

@keyframes wave {
  0% {
    transform: translateY(0);
    background-color: var(--ccolor);
    border-color: var(--ccolor);
  }
  5% {
    transform: translateY(0);
    background-color: var(--wavecolor1);
    border-color: var(--wavecolor1);
  }
  50% {
    transform: translateY(0.5rem);
    background-color: var(--wavecolor2);
    border-color: var(--wavecolor2);
  }
  100% {
    transform: translateY(0);
    background-color: var(--wavecolor3);
    border-color: var(--wavecolor3);
  }
}